@import url("./post.css");
@import url("./header.css");
@import url("./footer.css");

.grid-container,
.post-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
}

.post-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-card img {
  width: 350px;
  height: 150px;
  margin-right: 20px;
  border-radius: 5px;
}

.post-card-content {
  flex: 1;
}

.post-card h3 {
  margin-top: 10px;
}

.post-card p {
  margin-bottom: 10px;
}

.post-card a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

figcaption {
  text-align: center;
}

button {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #007bff;
}

@media only screen and (max-width: 1023px) {
  .grid-container,
  .post-container {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .post-card img {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}
